//-- button and link styles --/
.link {
  color: inherit;
  text-decoration: underline;

  &:hover, &:active {
    color: $color-highlight;
    text-decoration: none;
  }
}

.button {
  //button resets
  border: none;
  outline:none;
  margin: 0;
  padding: 0;
  text-decoration: none;

  //button basics
  display: inline-block;
  margin: 4px;
  border: solid 2px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;

  &:first-child {
    margin-left: 0px;
  }

  &:hover, &.hover  {
    text-decoration: none;
    border-color: rgba(0,0,0,0);
  }

  &:active, &.active  {
    text-decoration: none;
  }
}

.primary-button {
  background-color: $color-sub-1;
  color: $color-sub-2;
  border-color: $color-sub-2;

  &:hover, &.hover {
    color: $color-sub-2;
  }

  &:active, &.active {
    color: $color-sub-1;
    border-color: $color-sub-1;
    background: $color-sub-2;
  }
}
