// ---= Colors =--- //

/*
  --
  Color names from Chir.ag’s Name that Color utility
  http://chir.ag/projects/name-that-color/


  --Possible color pallet
  Main neon green
  #14ffb1

  Complementary color
  #ff1462
  --A few shades lighter
  c50041


  Duotone of 14ffb1 & c50041
  https://duotone.shapefactory.co/?f=14ffb1&t=c50041&q=_

*/

$color-spring-green:  #14ffb1;
$color-my-sin:        #ffb114;
$color-monza:         #c50041; //ff1462;
$color-mine-shaft:    #323232;
$color-white-solid:    #FFFFFF;


$color-main:      $color-spring-green;
$color-highlight: $color-monza;
$color-sub-1:     $color-mine-shaft;
$color-sub-2:     $color-my-sin;
$color-sub-light: $color-white-solid;


//  ---= Font Sizes =---  //
$font-x-large: 42px;
$font-large:   28px;
$font-medium:  18px;
$font-small:   9px;
