@import './variables';
@import './mixins';

//-- resets --//
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
*:focus {
    outline: 0 !important;
}


body {
  font-family: vt323, sans-serif;
  color: $sub-color-1;
  background: black;
}

//-- button and link styles --/
.button {
  border: none;
  outline:none;
  margin: 0;

  &:hover {
    border-width: 2px;
    margin-top: 2px;
  }

  &:active {
    border-width: 0px;
    margin-top: 4px;
  }
}

.primary-button {
  background-color: $highlight-color;
  color: $sub-color-1;
  border-bottom: solid 4px $sub-color-1;
}

a, a:link {
  color: inherit;
  text-decoration: underline;

  &:hover, &:active {
    color: $highlight-color;
    text-decoration: none;
  }
}
