@import './variables';
@import './mixins';


// -= Main Styles =-
body {
  font-family: vt323, sans-serif;
  color: $color-sub-1;
  background: black;
  font-size: $font-medium;
}

.panel {
  width: 90%;
  margin: auto;
  padding: 12px;

  &.panel-green {
    background: $color-main;
  }

  &.panel-dark {
    color: $color-sub-2;
  }
}


@import './buttons';
