@import './variables';

.main-menu {
  width: 100%;
  position: fixed;
  margin: 10px;
  padding: 8px;

  background: rgba(
    red($color-sub-1),
    green($color-sub-1),
    blue($color-sub-1),
    .5);


  .button {
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 8px;
    margin-right: 8px;
    height: 50px;
    line-height: (42px);
    font-size: $font-large;

    &:first-child {
      margin-left: 0px;
    }
  }
}
