<div class="panel panel-dark">
  <h2>Skills</h2>
  <div id="dashboard-stats" class="gem-chart ">
    <div class="row">
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">HTML</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">CSS</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">JAVASCRIPT</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">SASS</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">ANGULAR</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">JQUERY</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">KNOCKOUTJS</div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">ASP.NET MVC</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">DRUPAL</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">SQL</div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">WORDPRESS</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">SITEFINITY</div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">C#</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">BOOTSTRAP</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">RESPONSIVE DESIGN</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">PHP</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">YII</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">LARAVEL</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">JAVA</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">SUBVERSION</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">GIT</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">PHOTOSHOP</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">NODEJS</div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
      <div class="col-xm-12 col-md-6">
        <div class="gem-row">
            <div class="label">PROJECT MANAGEMENT</div>
            <div class="gem gem-full"></div>
            <div class="gem gem-full"></div>
            <div class="gem"></div>
            <div class="gem"></div>
        </div>
      </div>
    </div>
  </div>
</div>
