@import '~src/sass/variables';

.header {
  height: 300px;
  width: 100%;

  /*- -
  background: #eb01a5;
  background-image: url("IMAGE_URL"); // fallback
  background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531);
  */

  background: black;
  background-image: url("https://saintlouischessclub.org/sites/default/files/duotone-abstract1_14ffb1_c50041.png"); /* fallback */
  background-image: url("https://saintlouischessclub.org/sites/default/files/duotone-abstract1_14ffb1_c50041.png"), linear-gradient(#14ffb1, #c50041); /* W3C */

  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00),
    rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00), rgba(0, 0, 0, 0.00),rgba(0, 0, 0, 1.00)),
    url('https://saintlouischessclub.org/sites/default/files/duotone-abstract1_14ffb1_c50041.png');

}
