<div class="panel panel-dark">
  <h2>.panel-dark</h2>
  <a class="link" href="#">.link</a>
  <button class="button primary-button">.primary-button</button>
  <button class="button primary-button hover">:hover</button>
  <button class="button primary-button active">:active</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

<div class="panel panel-green">
  <h2>.panel-green</h2>
  <a class="link" href="#">.link</a>
  <button class="button primary-button">.primary-button</button>
  <button class="button primary-button hover">:hover</button>
  <button class="button primary-button active">:active</button>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
